.clients, .users, .usersInfo, .stars, .callToAction{
    display: flex;
}

.clients{
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 1440px;
    margin: auto;
}

.text2{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24.2px;
    color: dimgrey;
    width: 398px;
    text-align: center;
    margin: auto;
}

.text1{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 58.09px;
    width: 952px;
    margin-top: 80px;
    text-align: center;
}

.users{
    width: 1094px;
    margin: auto;
    margin-top: 40px;
}

.usersInfo{
    width: 1054px;
    margin: 20px;
}

.img{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-left: 0px;
    margin-right: 0px;
}

.img1{
    width: 50px;
    height: 50px;
    margin: auto;
    margin-left: 42px;
}

.user{
    width: 414px;
    height: 323px;
    margin-left: 42px;
}

.firstStar{
    width: 20px;
    height: 19.02px;
    margin: auto;
    margin-right: 6px;
}

.star{
    width: 20px;
    height: 19.02px;
    margin: auto;
    margin-left: 6px;
    margin-right: 6px;
}

.lastStar{
    width: 20px;
    height: 19.02px;
    margin: auto;
    margin-left: 6px;
}

.comment{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
    height: 128px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    text-align: center;
    box-sizing: border-box;
    overflow: auto;
}

.usernameAndAvatar > .avatar{
    width: 40px;
    height: 40px;
    margin-top: 27px;
    margin-left: 187px;
    margin-right: 187px;
}

.usernameAndAvatar > .username{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16.94px;
    color: dimgray;
    text-align: center;
    margin-top: 8px;
    margin-left: 152px;
    margin-right: 152px;
}

.callToAction{
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 1440px;
    margin: auto;
}

.information{
    margin-top: 80px;
    margin-left: 120px;
    margin-right: 120px;
}

.callToActionText{
    margin-top: 60px;
    margin-left: 124px;
    margin-right: 124px;
}

.actionText1{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24.2px;
    color: dimgrey;
    text-align: center;
    margin: auto;
    margin-left: 342px;
    margin-right: 342px;
}

.actionText2{
    font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 58.09px;
    width: 952px;
    text-align: center;
    margin-top: 24px;
}

.actionButton{
    width: 230px;
    margin-top: 48px;
    margin-left: 485px;
    margin-bottom: 140px;
}